.anime{
    position: relative;
    /* position: absolute; */
    z-index: 1;
    cursor:grab;
/*     width: 100px;
    height:100px; */
   .anime__poster{
    position:relative;
        display: block;
        z-index: 0;
        width: 100%;
        
        max-height: 100px;
        color: #fc4e4e;
    }
color: #addbf0
}

.anime__close{
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
cursor: pointer;
height: 0%;
width: 0%;

transition: 0.1s ease-in-out;

}

.close__img{

}