.main{
    padding: 30px 8% 30px 8%;
    background: rgba(241, 250, 255, 0.932);
    margin: 0 auto 15px auto;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}
.buttons{
    display:flex;
    width: 100%;
    padding: 15px 0px 15px 0px;

}

.button__add{

}
.button__download{


}
