.main{
    padding: 30px 8% 30px 8%;
    background: rgba(241, 250, 255, 0.932);
    margin: 0 auto 0px auto;
    border-radius: 10px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}
.buttons{
    display:flex;
    width: 100%;
    padding: 15px 0px 15px 0px;

}

.mainInfo{
    width: 90%;
display: flex;
margin: 0px auto 50px auto;
}

.infoPhone{
  
    flex:0 1 50%;
    img{
        display: block;
        margin: 25px auto 0px auto;
        height: 130px;
    }
}
.info{
    
    flex:0 1 50%;
}


.button__add{

}
.button__download{


}
