.main{
    padding: 30px 8% 30px 8%;
    background: rgba(255, 255, 255, 0.932);
    margin: auto;
    border-radius: 8px;
}
.buttons{
    display:flex;
 width: 100%;

}
.button__remove{

}
.button__add{

}
.button__download{


}
