.list__item {
    position:relative;
    display: flex;
    min-height: 100px;
    input {outline:none;}
    &:hover .list__delete{
        visibility:visible; 
    }

}
.item__rank {
    flex:0 1 10%;
    background: rgb(249, 252, 255);
    font-size: 30px;
    border: 1px solid black;
    border-right:0 ;
    overflow: hidden;
    text-align: center;

  
}
.item__field {
    display: flex;
    flex:0 1 80%;
    background: rgb(249, 252, 255);
    border: 1px solid black;
    max-height: 100%;
    box-sizing: border-box;
    flex-wrap:wrap;

}
.item__search {
    position: relative;
    background:rgb(249, 252, 255);
    flex:0 1 10%;
    /* background-color: rgb(199, 145, 145); */

    border: 1px inset black;
    border-left: 0px;  
    background-image:url(/../public/img/Search/open.svg);
    background-repeat:no-repeat; 
    background-size: 30%;
    background-position: center;

}
.list__delete{
    visibility:hidden;  
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
/*     background: rgb(212, 92, 92); */
    z-index: 1;
    img{
        margin: -1px -1px 0px 0px;
        cursor: pointer;
    }
}