.list__item {
    display: flex;
    min-height: 100px;
    input {outline:none;}
}
.item__rank {
    flex:0 1 10%;
    background: rgb(238, 235, 235);
    border-radius: 8px 0px 0px 8px;
    border-color: black;
    font-size: 30px;
    border-right: 0px;
    overflow: hidden;
    text-align: center;
  
}
.item__field {
    display: flex;
    flex:0 1 80%;
    background: rgb(211, 156, 156);
    border: 2px solid black;
    max-height: 100%;
    box-sizing: border-box;
    flex-wrap:wrap;
}
.item__search {
    position: relative;
    background: rgb(238, 235, 235);
    flex:0 1 10%;
    /* background-color: rgb(199, 145, 145); */
    border-radius: 0px 8px 8px 0px ;
    border: 2px inset black;
    border-left: 0px;  
    background-image:url(/../public/img/Search/open.svg);
    background-repeat:no-repeat; 
    background-size: 30%;
    background-position: center;
}
