.button{
    display: flex;
    font-family: 'Oswald', sans-serif;
    width: 120px;
    height: 50px;
    border-radius: 12px;
    background-color: rgb(92, 204, 204);
    &:hover{
        background-color: rgb(204, 250, 235);
        border: 1px solid rgb(92, 204, 204);
        color: rgb(92, 204, 204);
    }
    transition: 0.3s ease;
    box-sizing: border-box;
    color: rgb(204, 250, 235);
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.button_title{
    margin: auto;
    
}